@import "bourbon";
@import "font-awesome";

body {
  background: #000000;
}

#deckScreen {
	margin: 50px auto;
	width: 1000px;
	text-align: center;
}
#zombieScreen {
	margin: 50px auto;
	width: 1200px;
	height: 800px;
	background-image: url(../images/waterygrave.jpg);
	position: relative;
}
#vampireScreen {
	margin: 50px auto;
	width: 1200px;
	height: 800px;
	background-image: url(../images/overgrowntomb.jpg);
	position: relative;
}
#wolfScreen {
	margin: 50px auto;
	width: 1200px;
	height: 800px;
	background-image: url(../images/polluteddelta.jpg);
	position: relative;
}
.shown {

}
.hidden {
	display: none;
}

.chooseHeader {
	width: 1000px;
	height: 200px;
	background-image: url(../images/chooseyourdeck.jpg);
	display: block;
	margin-bottom: 20px;
	text-align: center;
}

.deckSelection {
	display: inline-block;
	width: 300px;
	height: 450px;
	margin: 10px 15px 10px 15px;
	border-radius: 10px;
}

#zombieDeck {
	background-image: url(../images/zombie.jpg);
	cursor: crosshair;
}
#zombieDeck:hover {
	background-image: url(../images/zombiehover.jpg);
	box-shadow: 0px 0px 30px white;
}
#zombieDeck:active {
	background-image: url(../images/zombie.jpg);
	box-shadow: 0px 0px 50px red;
}

#vampireDeck {
	background-image: url(../images/vampire.jpg);
	cursor: crosshair;
}
#vampireDeck:hover {
	background-image: url(../images/vampirehover.jpg);
	box-shadow: 0px 0px 30px white;
}
#vampireDeck:active {
	background-image: url(../images/vampire.jpg);
	box-shadow: 0px 0px 50px red;
}

#wolfDeck {
	background-image: url(../images/wolf.jpg);
	cursor: crosshair;
}
#wolfDeck:hover {
	background-image: url(../images/wolfhover.jpg);
	box-shadow: 0px 0px 30px white;
}
#wolfDeck:active {
	background-image: url(../images/wolf.jpg);
	box-shadow: 0px 0px 50px red;
}

.magicCard1 {
	width: 250px;
	border-radius: 12px;
}
.magicCard2 {
	width: 250px;
	border-radius: 12px;
}

.playField {
	width: 800px;
	height: 500px;
	border: 1px solid grey;
	position: absolute;
	top: 12px;
	right: 200px;
	left: 200px;
	border-radius: 5px;
}
.versus {
	width: 100px;
	height: 100px;
	position: absolute;
	background-image: url(../images/versus.png);
	right: 350px;
	top: 200px;
}

.player1Card {
	width: 250px;
	height: 349px;
	border: 1px solid grey;
	border-radius: 5px;
	position: absolute;
	left: 100px;
	top: 75px;
	// background-color: white;
}
.player2Card {
	width: 250px;
	height: 349px;
	border: 1px solid grey;
	border-radius: 5px;
	position: absolute;
	right: 100px;
	top: 75px;
	// background-color: white;
}

.player1Box {
	width: 290px;
	height: 250px;
	border: 1px solid grey;
	border-radius: 5px;
	position: absolute;
	bottom: 12px;
	left: 200px;
	background-color: black;
}

.player1 {
	border-radius: 5px;
	width: 150px;
	position: absolute;
	bottom: 12px;
	left: 12px;
}

.player2Box {
	width: 290px;
	height: 250px;
	border: 1px solid grey;
	border-radius: 5px;
	position: absolute;
	bottom: 12px;
	right: 200px;
	background-color: black;
}

.player2 {
	border-radius: 5px;
	width: 150px;
	position: absolute;
	bottom: 12px;
	right: 12px;
}

.drawButton1 {
	width: 180px;
	height: 230px;
	border: 1px solid white;
	border-radius: 10px;
	background-image: url(../images/drawwhite.jpg);
	position: absolute;
	bottom: 22px;
	right: 509px;
}
.drawButton1:hover {
	cursor: crosshair;
	background-image: url(../images/drawbutton.jpg);
	border: 1px solid red;
	box-shadow: 0 0 10px red;
	width: 182px;
	height: 232px;
	bottom:	20px;
	right: 507px;
}
.drawButton1:active {
	background-image: url(../images/drawwhite.jpg);
	border: 1px solid white;
	box-shadow: 0 0 50px white;
}
.hitpoints1 {
	width: 95px;
	height: 60px;
	border: 1px solid grey;
	position: absolute;
	right: 12px;
	top: 12px;
	border-radius: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	p {
		margin: 0;
		color: white;
		font-size: 2.2em;
	}
	.hp {
		opacity: 0.5;
		font-size: 1.2em;
	}
	.slash {
		opacity: 0.3;
	}
}
.hitpoints2 {
	width: 95px;
	height: 60px;
	border: 1px solid grey;
	position: absolute;
	left: 12px;
	top: 12px;
	border-radius: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	p {
		margin: 0;
		color: white;
		font-size: 2.2em;
	}
	.hp {
		opacity: 0.5;
		font-size: 1.2em;
	}
	.slash {
		opacity: 0.3;
	}
}
.hitbox1 {
	width: 95px;
	height: 128px;
	border: 1px solid #2D1315;
	position: absolute;
	right: 12px;
	bottom: 12px;
	border-radius: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.hitbox2 {
	width: 95px;
	height: 128px;
	border: 1px solid #2D1315;
	position: absolute;
	left: 12px;
	bottom: 12px;
	border-radius: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

















