@import "bourbon";
@import "font-awesome";

body {
  background: #000000;
}

#deckScreen {
	margin: 50px auto;
	width: 1000px;
	text-align: center;
}
#zombieScreen {
	margin: 50px auto;
	width: 1200px;
	height: 800px;
	background-image: url(../images/waterygrave.jpg);
	position: relative;
}
#vampireScreen {
	margin: 50px auto;
	width: 1200px;
	height: 800px;
	background-image: url(../images/overgrowntomb.jpg);
	position: relative;
}
#wolfScreen {
	margin: 50px auto;
	width: 1200px;
	height: 800px;
	background-image: url(../images/polluteddelta.jpg);
	position: relative;
}
.shown {

}
.hidden {
	display: none;
}

.chooseHeader {
	width: 1000px;
	height: 200px;
	background-image: url(../images/chooseyourdeck.jpg);
	display: block;
	margin-bottom: 20px;
	text-align: center;
}

.deckSelection {
	display: inline-block;
	width: 300px;
	height: 450px;
	margin: 10px 15px 10px 15px;
	border-radius: 10px;
}

#zombieDeck {
	background-image: url(../images/zombie.jpg);
	cursor: crosshair;
}
#zombieDeck:hover {
	background-image: url(../images/zombiehover.jpg);
	box-shadow: 0px 0px 30px white;
}

#vampireDeck {
	background-image: url(../images/vampire.jpg);
	cursor: crosshair;
}
#vampireDeck:hover {
	background-image: url(../images/vampirehover.jpg);
	box-shadow: 0px 0px 30px white;
}

#wolfDeck {
	background-image: url(../images/wolf.jpg);
	cursor: crosshair;
}
#wolfDeck:hover {
	background-image: url(../images/wolfhover.jpg);
	box-shadow: 0px 0px 30px white;
}

.playField {
	width: 800px;
	height: 500px;
	border: 1px solid grey;
	position: absolute;
	top: 12px;
	right: 200px;
	left: 200px;
	border-radius: 5px;
}

.player1Card {
	width: 200px;
	height: 300px;
	border: 1px solid grey;
	border-radius: 5px;
	position: absolute;
	left: 100px;
	top: 100px;
}
.player2Card {
	width: 200px;
	height: 300px;
	border: 1px solid grey;
	border-radius: 5px;
	position: absolute;
	right: 100px;
	top: 100px;
}

.player1Box {
	width: 385px;
	height: 250px;
	border: 1px solid grey;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: black;
}

.player1 {
	border-radius: 5px;
	width: 150px;
	position: absolute;
	bottom: 12px;
	left: 12px;
}

.player2Box {
	width: 385px;
	height: 250px;
	border: 1px solid grey;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: black;
}

.player2 {
	border-radius: 5px;
	width: 150px;
	position: absolute;
	bottom: 12px;
	right: 12px;
}

.drawButton1 {
	width: 200px;
	height: 100px;
	border: 1px solid white;
	border-radius: 10px;
	background-image: url(../images/drawwhite.jpg);
	position: absolute;
	top: 12px;
	right: 12px;
}
.drawButton1:hover {
	cursor: crosshair;
	background-image: url(../images/drawbutton.jpg);
	border: 1px solid red;
	box-shadow: 0 0 10px red;
	width: 202px;
	height: 102px;
	top: 10px;
	right: 10px;
}
.drawButton2 {
	width: 200px;
	height: 100px;
	border: 1px solid grey;
	border-radius: 10px;
	background-image: url(../images/drawwhite.jpg);
	position: absolute;
	top: 12px;
	left: 12px;
}
.drawButton2:hover {
	cursor: crosshair;
	background-image: url(../images/drawbutton.jpg);
	border: 1px solid red;
	box-shadow: 0 0 10px red;
	width: 202px;
	height: 102px;
	top: 10px;
	left: 10px;
}

















